<p id="notice"class="alert alert-success"><%= notice %></p>

<aside class="sidebar">
	<section>
		    <span class="label">プロフィール画像</span>
			    <h3 class="user-info">
					      <!-- ここでimage_forヘルパーを呼び出してください -->
						  <%= image_for(@user) %>       
						      </h3>
							    </section>
	<section>
  <span class="label">ユーザ</span>
  <h3 class="user-info"><%= @user.name %></h3>
	</section>

	<section>
  <span class="label">メールアドレス</span>
  <h3 class="user-info"><%= @user.email %></h3>
	</section>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</aside>

<ul class="notes">
		<%=render @notes %>
</ul>

